.ant-modal-wrap{
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}
.dragBoxBar{ 
  height: 100%;
  width: 100%;
  cursor: move;
  user-select: none;
}
.ant-modal{
  margin: 0 !important;
}
.ant-modal-content{
  width: 800px;
  height: 500px;
}
.ant-modal-footer{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}